public/index.html
<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta name="Keywords" content="Ключевые, слова, страницы">
        <meta name="description" content="Seo описание страницы">
        <title>Главная страница</title>
        <link rel="stylesheet" href="/assets/css/vendor.min.css">
        <link rel="stylesheet" href="/assets/css/style.min.css">
    </head>
    <body>
        <div class="app home">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xl-2">stgps</div>
                </div>
            </div>
        </div>
        <script type="text/javascript" src="/assets/js/vendor.min.js"></script>
        <script type="text/javascript" src="/assets/js/script.min.js"></script>
    </body>
</html>

src/pages/index.pug
extends ../layouts/default.pug

block vars
    - var title = "Главная страница";
    - var keywords = "Ключевые, слова, страницы";
    - var description = "Seo описание страницы";
    - var classNamePage = "home";

block content
    .container-fluid
        .row
            .col-xl-2 stgps
